@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --height-header-footer: 3rem;
    --height-main: calc(100vh - (var(--height-header-footer) + var(--height-header-footer)));
    --font-main: "Montserrat", sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--font-main);
}

.container {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container__header,
.container__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height-header-footer);
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
}

/*
.container__header__logo{
}
.container__header__menu{
}
.container__header__menu__nav{
}
*/
.container__header__menu__nav__list,
.container__footer__menu__nav__list {
    display: flex;
    gap: 30px;
}

.container__header__menu__nav__list__link,
.container__footer__menu__nav__list__link {
    text-decoration: none;
}

.container__header__menu__nav__list__link,
.container__footer__menu__nav__list__link:visited {
    color:inherit;
}

.container__main {
    display: flex;
    height: var(--height-main);
}

/*
.container__footer {
}
.container__footer__menu{
}
.container__footer__menu__nav{
}
.container__footer__menu__nav__list {
}
.container__footer__menu__nav__list__link
*/